<h1>Photos</h1>
<p>Find me in app/views/photo/index.html.erb</p>

<%= image_tag("hara.jpg", width:'200px') %>
<%= image_tag("iu.jpg", width:'200px') %>
<%= image_tag("seli.jpg", width:'200px') %>
<%= image_tag("sunny.jpg", width:'200px') %>
<%= image_tag("seohyun.jpg", width:'200px') %>
<%= image_tag("taehyun.jpg", width:'200px') %>
<%= image_tag("tiffany.jpg", width:'200px') %>
<%= image_tag("jimin.jpg", width:'200px') %>
<%= image_tag("seolhyun.jpg", width:'200px') %>
<%= image_tag("sohee.jpg", width:'200px') %>
<%= image_tag("yuri.jpg", width:'200px') %>
<%= image_tag("sunmi.jpg", width:'200px') %>