<h2><%= @album.title %></h2>

<p>This alblum is for <%=@album.description%></p>
<h3>photos</h3>
<ul>
  <% @album.photos.each do |album| %>
    <li><%= link_to album.title, album %></li>

    <%= image_tag( album.imagePath , width:'200px') %>
    <li><%=album.imagePath%></li>

    <% end %>
</ul>



<p><%= link_to 'Home', root_path %></p>

