<!DOCTYPE html>
<html>
  <head>
    <title>Album</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Photo', photo_index_url %></li>
        <li><%= link_to 'Location', location_index_url %></li>
        <li><%= link_to 'Tag', tag_index_url %></li>
        <li><%= link_to 'Comment', comment_index_url %></li>
        <li><%= link_to 'About', about_index_url %></li>

      </ul>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
